h1{
    margin-top: 50px;
}

hr{
    width: 40%
}

.mb-3{
    width: 300px
}

img{
    width: 80%
}

.form{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

iframe{
    width: 150%;
    height: 90%;
}