h1{
    margin-top: 50px;
}

hr{
    width: 40%
}

.mb-3{
    width: 300px
}

img{
    width: 80%
}

.form{
    display: flexbox;
    flex-direction: row;
}

iframe{
    width: 300px;
    height: 300px;
}