
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .btn{
    background-color:#8a2be2;
    color: antiquewhite;
    border: none;
  }
  
  .btn:hover{
    background-color:#601f9c;
    color: antiquewhite;
  }
  
  .mycards{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  img{
    height: 175px;
  }

  #carousel{
<<<<<<< HEAD
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
=======
    height:600px;
>>>>>>> f341fb23831989444c387a7955b765aed780f0f0
  }

  #welcome{
    color:#8a2be2;
  }

  #carousel-container {
<<<<<<< HEAD
    width: 50%;
=======
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> f341fb23831989444c387a7955b765aed780f0f0
  }